@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

body {
  width: 100lvw;
  height: 100lvh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
